[Match]
Type=loopback

[Network]
Address=127.0.0.1/8
Address=::1/128

[Route]
Table=104
Type=local
Destination=0.0.0.0/0

[Route]
Table=106
Type=local
Destination=::/0

[RoutingPolicyRule]
Table=104
FirewallMark=0x01

[RoutingPolicyRule]
Table=106
FirewallMark=0x08

