[Match]
Name=lan

[Network]
Address=172.20.0.1/16
Address=fd14::1/48
IPv6AcceptRA=false
IPv6SendRA=true
LinkLocalAddressing=ipv6
DefaultRouteOnDevice=false

[IPv6SendRA]
Managed=true
OtherInformation=false
EmitDNS=true
DNS=fd14::1

[IPv6Prefix]
AddressAutoconfiguration=true
OnLink=true
Prefix=fd14:0:0:1111::/64
Assign=true

[IPv6RoutePrefix]
Route=fd14::1/48

